In [2]:
# Activity I

integer_number = 2
float_number = 2.0
example_string = "my name is AgentM"
example_tuple = (1, 2, 3, 4)
example_int_list = [1, 2, 3, 4]
example_dictionary = {'one': 1, 'two': 2, 'three': 3}

In [6]:
# Activity II

print(integer_number, float_number, example_string, example_tuple, example_int_list, example_dictionary)

In [7]:
# Activity III

print(type(integer_number), type(float_number), type(example_string), type(example_tuple), type(example_int_list), type, example_dictionary)

In [8]:
# Activity IV

int(float_number)
float(integer_number)
int('2.0')
int('2')
float(2.0)
str(1)

In [3]:
# Activity V

my_name = "Immanuel Olaoye"
my_name.upper()
print(my_name)
my_name_upper_case = my_name.upper()
example_list = ["John", "Harold", "Patrick"]
example_list.reverse()
print(example_list)

Immanuel Olaoye
['Patrick', 'Harold', 'John']

In [4]:
# Activity VI

len(example_string)
len(example_tuple)
len(example_list)

4

In [6]:
# Activity VII
print(example_list[2])
print(example_string[3])
print(example_tuple[1])

John
n
2

In [7]:
# Activity VIII
len(example_dictionary)
print(example_dictionary["one"])

1

In [ ]:
# Activity IX

# Please add text cell to notebook to differentiate each "Activity"

In [ ]:
# Task I

variable1 = 'Vijaya Yeruva'
variable2 = ['Python', 'Machine Learning', 'Deep Learning']
variable3 = (4, 9, 16, 25)
variable4 = [2.0, 3.0, 5.0, 7.0, 11.0]
variable5 = {'key1': 65537, 'key2': 1729, 'key3': 1806}
variable6 = {'key1': 3.1415, 'key2': 2.68545, 'key3': 1.61803}
variable7 = {1: 'Jaime', 2: 'Jack', 3: 'Joey'}
variable8 = {1: ['Jaime', 'Jack', 'Joey'], 2:['Deo', 'Katie', 'Lauren'], 3:['Mustafa', 'Luke', 'M']}

| variable 1 (data type)      | variable 2 (data type) | operation | result | Comments |
| ----------- | ----------- | --------- | ------ | -------- |
| 2 (int)      | 3 (int)       |      +     | 5 (int) | sum of two integers is an integer
| '2' (str)   | '3' (str)         |      +     | '23' (str) | sum of two strings is a string
| [1, 2, 3] (list) | [6, 12, 233] (list) | +   | [1, 2, 3, 6, 12, 233] | sums of two lists is a list

### Activity XI

1. What happens when you add two strings?

If you add two strings your answer will be a string.

2. What happens when you add an integer to a string? How would you properly dd an integer to a string? How would you properly add an integer to a string?

You will get an error if you try to add an integer and a string.

3. What happens when you added two lists?

### Activity XII

| variable 1 (data type)      | variable 2 (data type) | operation | result | Comments |
| ----------- | ----------- | --------- | ------ | -------- |
| 2 (int)      | 3 (int)       |      >     | False (boolean) | two is not greater than three
| 12 (int)   | 9 (int)         |     =>     | True | twelve is greater or equal to nine
| 1 (int)   | 4 (int)         |     <     | True | one is less or four so that statement is true
| 7 (int) | 7 (int) | !=   | False | 7 is equal to 7, so that statement is false
| 10 (int) | 10 (int) | ==   | True | 10 is equal to 10, so that statement is true
| 12 (int) | 24 (int) | <=   | True | 12 is less than or equal to 24, so that statement is true

### Activity XII

| variable 1 (data type)      | variable 2 (data type) | operation | result | Comments |
| ----------- | ----------- | --------- | ------ | -------- |
| 2 (int)      | 3 (int)       |      >     | False (boolean) | two is not greater than three
| 12 (int)   | 9 (int)         |     =>     | True | twelve is greater or equal to nine
| 1 (int)   | 4 (int)         |     <     | True | one is less or four so that statement is true
| 7 (int) | 7 (int) | !=   | False | 7 is equal to 7, so that statement is false
| 10 (int) | 10 (int) | ==   | True | 10 is equal to 10, so that statement is true
| 12 (int) | 24 (int) | <=   | True | 12 is less than or equal to 24, so that statement is true

In [8]:
# Activity XIV

if 1 == 1:
    print("Hello World!")
else:
    print("Goodbye, World!")

Hello World!

In [9]:
# Activity XV

if 1 == 1:
    print("Hello World!")
elif 1 == 2:
    print("Goodbye, World!")
else:
    print("See you later, world!")

Hello World!

In [10]:
# Activity XVI

iteration = 5
while iteration != -1:
    print("Hello World!")
    iteration -= 1

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [ ]:
# Activity XVII

iteration = 12
while iteration1 > 0:
    print("Hello World!")
    iteration -= 2

In [ ]:
# Task II

# Example I

def print_name():
    print("Immanuel Olaoye")

In [ ]:
# Example II

def hypotenuse(a, b):
    hypo = (a**2) + (b**2)
    return hypo**2

In [ ]:
# Example III

# Part A

def return_five():
    return 5

def square(x):
    return x**2

for n in range(10):
    square(return_five(5))

In [ ]:
# Task 3


# a. Fill in the function which should compute the euclidean distance 2 between two points
def euclidean_distance(x, y):
	e_distance = 0
	e_distance = (((x[2] - x[1])**2) - (y[2] - x[1])**2)
	return e_distance


# b. Fill in the function which should compute the area of a circle
def circle_area(r):
	c_area = 0.0
	pi = 3.14
	c_area = pi*r**2
	return c_area

# c. c. Fill in the function which should compute the square of the values in the dictionary
def square_of_dict_values(myDict):
	myDict_square = {}
	for k in myDict:
		for v in k:
			myDict[k] **= 2

	return myDict_square